In [1]:
#varaibles
x = 5
y = "John"
print(x)
print(y)

5
John

In [6]:
#type of data
x=1
y = 2.8
z = 1j  

a = 3+5j
b = 5j
c = -5j
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'complex'>
<class 'complex'>
<class 'complex'>

In [107]:
#casting
x = int(1)  
y = int(2.8)
z = int("3")
c = float("4")

print(x)
print(y)
print(z)
print(c)

1
2
3
4.0

In [108]:
#Strings
a =  "Hell0, World!"
b = "Hello, World!"

print(a[1])
print(b[2:5])
print(a.strip())
print(len(a))
print (a.upper())
print (a.lower())
print (a.replace("d","J"))

e
llo
Hell0, World!
13
HELL0, WORLD!
hell0, world!
Hell0, WorlJ!

In [63]:
#String operations
str= "Hello how are you doing"
sub="o"
print(str.count('o'))

4

In [70]:
#operators 
x = 4
x+= 3
x-=1
print(x)

6

In [72]:
#Conditional statements 
a = 3000000
b = 40000 
if b>a:
        print("B is greater")
else:
            print("A is greater")

A is greater

In [74]:
ammount = 200
if ammount>=200:
        discount = ammount-10
        print("Payable ammount",discount)
else:
    discount = ammount-5
    print("Payable ammount",discount)

Payable ammount 190

In [77]:
#Round off by 2
var = 37.66666;
round(var,2)

37.67

In [80]:
    
    First = input("Enter your first name:")
    Last = input("Enter your last name:")
    print (First, Last)

minha
Enter your last name:farooq
minha farooq

In [91]:
r= float(input("Enter the radius"))
pi = 3.14
area = pi*(r*r)
perimeter= 2*pi*r
print(area)
print(perimeter)

Enter the radius34
3629.84
213.52

In [ ]:
cond = int(input("Enter the number"))
if cond>0:
    
    for i in range(4):
        print("CDAC MOHALI")

In [ ]:
var= input()
x = float(var)
print(x)

In [124]:
str = " Hello"
str1 = "Is"
if str.startswith('is')== True:
    print("String unchanged")
else:
    str2 = str1 +str
    print(str2)

Is Hello

In [137]:
var = int(input("enter the number"))
if var<0:
    print("Negative")
else:
    print("Postive")

enter the number2
Postive

In [145]:
var = int(input("enter the number"))
if var<0:
    print("Negative")
elif var>0:
    print("Positive")
else:
    print("zero")

enter the number-3
Negative

In [149]:
marks = int(input("Enter your marks"))
if marks>=50:
    print("Congratulations")
else:
    print("Sorry,You have failed")

Enter your marks20
Sorry,You have failed

In [152]:
n=int(input("Enter a number: "))
sum1 = 0
while(n > 0):
    sum1=sum1+n
    n=n-1
print("The sum of first n natural numbers is",sum1)

Enter a number: 3
The sum of first n natural numbers is 6

In [154]:
var = int(input("enter the number"))
if var%2==0:
    print("Even")
else:

    print("odd")

enter the number2
Even

In [158]:
#Question 20

a = 21
b = 10
c = 0
c = a+b
d =a-b
g = a*b
h = a/b
print(c)
print(d)
print(g)
print(h)

31
11
210
2.1

In [171]:
#Question 26
print(7%(7/2))
int("17"+"3")
"2"+"9"

0.0

'29'

In [176]:
a = 25
b = 12
if (a==b):
    print("A equals b")
else:
    print("A not equal to b")

A not equal to b

In [7]:
print("On a puppy's sleepy sppotted tummy, the sun connects her\n dots Her back legs tricycle Her pink mout of a velvet \nchurch beads with milk, a muffy an eye swims under its lid \n as her brothers tongue takes her eat up like a flower pettle. \n By Stephen Lindow ")

On a puppy's sleepy sppotted tummy, the sun connects her
 dots Her back legs tricycle Her pink mout of a velvet
church beads with milk, a muffy an eye swims under its lid
 as her brothers tongue takes her eat up like a flower pettle.
 By Stephen Lindow

In [1]:
#Identity operators 
x = 5
if (type(x) is int): 
    print ("true") 
else: 
    print ("false")

true

In [2]:
x = 5
if (type(x) is not int): 
    print ("true") 
else: 
    print ("false")

false

In [5]:
#Membership operators 
x = 24
y = 20
list = [10, 20, 30, 40, 50 ]; 
  
if ( x not in list ): 
    print ("x is NOT present in given list")
else: 
     print ("x is  present in given list")

x is NOT present in given list

In [7]:
 x = 24
if ( y in list ): 
       print ("y is present in given list")
else: 
       print ("y is NOT present in given list")

y is present in given list

In [28]:
#List 
fruits = ['Apple','Mango','Orange']
print(fruits)
fruits[1]
fruits.insert(1,'Banana')
print(fruits)
fruits.reverse()
print(fruits)

['Apple', 'Mango', 'Orange']
['Apple', 'Banana', 'Mango', 'Orange']
['Apple', 'Banana', 'Mango', 'Orange']

In [40]:
#Tuple
names= ("Burhan","Majid", "Naffi","Rabiya","Minha")
names[1:4]
#Tupples can be deleted completely. we can"t remove elements from tupples
del names

In [46]:
#Set
houses = {"No1","No2","No3"}
print(houses)
houses.update('H',"o","a"," u")
print(houses)
houses.remove("No1")
print(houses)
houses.discard("No2")
print(houses)

{'No1', 'No3', 'No2'}
{'No3', 'a', 'o', 'No2', 'u', 'No1', ' ', 'H'}
{'No3', 'a', 'o', 'No2', 'u', ' ', 'H'}
{'No3', 'a', 'o', 'u', ' ', 'H'}

In [52]:
#Functions
def greetings():
    print("hey there")
    
greetings()

hey there

In [56]:
def add(x):
    return 5+x
print(add(2))
print(add(3))

7
8

Enter the number22.4

ValueError: invalid literal for int() with base 10: '22.4'